<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" id="logo" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vite</title>

    <% for (const item of cdncss) { %>
        <link href="<%= `./cdn/${item}.css` %>" rel="stylesheet" />
    <% } %>
    <% for (const item of cdnjs) { %>
        <script src="<%= `./cdn/${item.path || item.name}.js` %>"></script>
    <% } %>
</head>

<body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>
