// 弹窗
.el-dialog {
    --el-dialog-content-font-size: var(--el-font-size-base);
}

// 分页
.el-pagination {
    --el-pagination-font-size: var(--el-font-size-base);
}

// 表单项
.el-form-item--default {
    --el-form-label-font-size: var(--el-font-size-base) !important;
    --font-size: var(--el-font-size-base) !important;
}

.el-form-item__label::after {
    content: '：';
}

// 多选框
.el-checkbox {
    --el-checkbox-font-size: var(--el-font-size-base) !important;
}

// 统一字体大小
.el-breadcrumb,
.el-table {
    font-size: var(--el-font-size-base);
}

// 按钮
.el-button:focus-visible {
    outline: none;
}

// 抽屉
.el-drawer__header {
    @apply mb-10px;
}
.el-drawer__body {
    @apply pt-10px;
}

// tabs
/** tabs 兼容table 自适应高度 */
.el-tabs.el-tabs--top {
    height: 100%;
    .el-tabs__content {
        height: calc(100% - var(--el-tabs-header-height) - 15px);
        .el-tab-pane {
            height: 100%;
        }
    }
}
.el-tabs__nav-wrap:after {
    height: 0.5px !important;
}
.el-table--default {
    font-size: 12px !important;
}

// a标签默认为主色
a {
    @apply cursor-pointer c-primary;
    &[disabled='true'] {
        @apply cursor-not-allowed;
        color: var(--el-color-info-light-5);
    }
}
