:root {
    // --el-border-radius-base: 2px;
}

.el-dialog {
    --el-dialog-content-font-size: var(--el-font-size-base);
}

.el-pagination {
    --el-pagination-font-size: var(--el-font-size-base);
}

.el-form-item--default {
    --el-form-label-font-size: var(--el-font-size-base) !important;
    --font-size: var(--el-font-size-base) !important;
}

.el-form-item__label::after {
    content: '：';
}

.el-checkbox {
    --el-checkbox-font-size: var(--el-font-size-base) !important;
}

.el-breadcrumb,
.el-table {
    font-size: var(--el-font-size-base);
}

.search-form .el-input {
    width: 200px;
}

.search-form .el-input .el-input__wrapper {
    width: 100%;
}

.dark .el-table:not(.el-table--border) {
    .el-table__header th {
        background-color: #1d1e1f !important;
    }
}

.el-button:focus-visible {
    outline: none;
}
.el-tabs__nav-wrap:after {
    height: 1px;
}

.el-drawer__header {
    @apply mb-10px;
}
.el-drawer__body {
    @apply pt-10px;
}
a {
    @apply cursor-pointer c-primary;
    &[disabled='true'] {
        @apply cursor-not-allowed;
        color: var(--el-color-info-light-5);
    }
}

/** tabs 兼容table 自适应高度 */
.el-tabs.el-tabs--top {
    height: 100%;
    .el-tabs__content {
        height: calc(100% - var(--el-tabs-header-height) - 15px);
        .el-tab-pane {
            height: 100%;
        }
    }
}
